<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/store.css'%} ">
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel = "stylesheet">
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel = "stylesheet">
    <title>New Releases</title>
</head>
<body>

    <!-------------------- NAVIGATION BAR ------------->

    <nav>
        <ul>
            <a href="{% url 'home' %}" class = "logo"><button id = "logo" onclick="home()"><img src = "{% static 'images/Logo.png' %}"></button></a>
            <li><button class = "menu" id = "nr" onclick="new_releases()">NEW RELEASES</button></li>
            <li><button class = "menu" id = "men">MEN
                <ul class = "con">
                    <li><a href = "{% url 'mencasual'%}">Casual Shoes</a></li>
                    <li><a href = "{% url 'mensport'%}">Sport Shoes</a></li>
                    <li><a href = "{% url 'mensneaker'%}">Sneaker Shoes</a></li>
                </ul></button></li>
            <li><button class = "menu" id = "women">WOMEN
                <ul class = "con">
                    <li><a href = "{% url 'womencasual'%}">Casual Shoes</a></li>
                    <li><a href = "{% url 'womensport'%}">Sport Shoes</a></li>
                    <li><a href = "{% url 'womensneaker'%}">Sneaker Shoes</a></li>
                </ul></button></li>
            <li><button class = "menu" id = "collection">COLLECTIONS
                <ul class = "con">
                    <li a href = "#">NIKE</a></li>
                    <li a href = "#">PUMA</a></li>
                    <li a href = "#">ADIDAS</a></li>
                    <li a href = "#">REEBOK</a></li>
                    <li a href = "#">FILA</a></li>
                    <li a href = "#">SKECHERS</a></li>
                </ul></button></li>
            <li><input id = "searchbar" type="text" placeholder="Search.."></li>
            <li><button class = "icon" id = "search"><img src = "{% static 'images/searchbar.png' %}"></button></li>
            <li><button class = "icon" onclick = "cart()"><img src = "{% static 'images/cart.png' %}"></button></li>
            <li><button class = "icon"><img src = "{% static 'images/login.png' %}"></button></li>
        </ul>
    </nav>
    <img class="poster" src="{% static 'images/futureride.png' %}">
    <div class="bar">
        <p class = "dot" onclick = "home()">Home </p>
        <span>New Releases</span><br>
        <h3>New Arrival</h3>
    </div>

    <!-------------------- NEW ARRIVALS ------------->

    <div class="content">
        {% for i in products %}
        <a href="{% url 'shoeprofiles' i.name %}" class="card">
            <img class = "product-img" src ="{{ i.product_img.url }}">
            <p class="bold"> {{ i.name }} </p>
            <span>({{i.sub_catogery}})</span> <br>
            <p class="color">{{i.color}} color</p><br>
            <p class="bold"> ₹{{i.price}}</p>
        </a>
        {% endfor %}
    </div>

    <!-------------------- CASUAL SHOES ------------->

    <h3 class = "heading">Casual Shoes</h3>
    <div class="content">

        {% for i in casual %}
        <a href="{% url 'shoeprofiles' i.name %}" class="card">
            <img class = "product-img" src ="{{ i.product_img.url }}">
            <p class="bold"> {{ i.name }} </p>
            <span>({{i.sub_catogery}})</span> <br>
            <p class="color">{{i.color}} color</p><br>
            <p class="bold"> ₹{{i.price}}</p>
        </a>
        {% endfor %}

    </div>

    <!-------------------- SPORT SHOES ------------->

    <h3 class = "heading">Sport Shoes</h3>
    <div class="content">
        {% for i in sport %}
        <a href="{% url 'shoeprofiles' i.name %}" class="card">
            <img class = "product-img" src ="{{ i.product_img.url }}">
            <p class="bold"> {{ i.name }} </p>
            <span>({{i.sub_catogery}})</span> <br>
            <p class="color">{{i.color}} color</p><br>
            <p class="bold"> ₹{{i.price}}</p>
        </a>
        {% endfor %}
    </div>

    <!-------------------- SNEAKERS ------------->

    <h3 class = "heading">Sneakers</h3>
    <div class="content">
        {% for i in sneaker %}
        <a href="{% url 'shoeprofiles' i.name %}" class="card">
            <img class = "product-img" src ="{{ i.product_img.url }}">
            <p class="bold"> {{ i.name }} </p>
            <span>({{i.sub_catogery}})</span> <br>
            <p class="color">{{i.color}} color</p><br>
            <p class="bold"> ₹{{i.price}}</p>
        </a>
        {% endfor %}
    </div>
    
    <script src = "home.js"></script>
</body>
</html>